/ TODO: decorate Search results with URL functions
.pagination
  / = search_form.previous_page
  / - if search_form.previous_page
  /   = link_to I18n.t('previous'), search_path_for(search_form, page: search_form.previous_page), class: 'prev'
    
  - if search_form.next_page
    = link_to I18n.t('next'), search_path_for(search_form, page: search_form.next_page), class: 'next'
  / = search_form.next_page
