.row
  .large-12.columns
    %table#results
      = render partial: 'table_header', locals: { search_form: @search_form }
      %tbody
        = render @search_form.result
  
    = render partial: 'pagination', locals: { search_form: @search_form }
