.row
  .large-12.columns
    #results
      %ul
        = render @search_form.result
        / - @search_form.result.each do |record|
        /   %li
        /     = record.id
        /     = record.name
      = render partial: 'pagination', locals: { search_form: @search_form }
