.row
  .large-12.columns
    = render partial: 'form', locals: { search_form: @search_form }
.row
  .large-12.columns
    #results
      %ul
        = render @search_form.result
        / - @search_form.result.each do |record|
        /   %li
        /     = record.id
        /     = record.name
          
    .pagination
      = link_to 'Next', search_path(page: params[:page] ? params[:page].to_i + 1 : 1  ), class: 'next_page'
