%body
  .row
    .large-3.columns
      %h1
        %img{:src => "http://placehold.it/400x100&text=Logo"}
    .large-9.columns
      %ul.button-group.right
        %li
          %a.button{:href => "#"} Login
  / .row
  /   .large-12.columns
  /     %img{:src => "http://placehold.it/1000x400&text=[img]"}
  /     %hr
  %footer.row
    .large-12.columns
      %hr/
      .row
        .large-6.columns
          %p &copy;2015 GitHubby
        .large-6.columns
