%footer.row
  .large-12.columns
    %hr
    .row
      .large-6.columns
        %p
          &copy;2015
          = link_to t('app_name'), 'http://githubbyapp.herokuapp.com/'
          by
          = link_to 'Stan Carver II', 'http://scarver2.github.io/'
      .large-6.columns
        .text-right.version
          = ENV['APPLICATION_VERSION']
