%footer.row
  .large-12.columns
    %hr
    .row
      .large-6.columns
        %p
          &copy;2015
          = link_to t('app_name'), 'http://githubbyapp.herokuapp.com/'
      .large-6.columns
        .text-right
          = t('app_author')
